image: maven

stages:
  - build
  - test

build:
  stage: build
  script:
    - mvn -Dmaven.test.skip=true clean install
  only:
    - master
  artifacts:
    name: "artifact"
    paths:
      - target/*.jar
    expire_in: 1 day

test:
  stage: test
  script:
    - mvn test
  only:
    - master
  artifacts:
    name: "reportTest"
    paths:
      - target/surefire-reports
    expire_in: 1 day